.photo {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.inner,
.inner img {
  width: 100px;
  height: 100px;
}

.inner {
  background: #cfcfcf;
}

.photo span {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.col {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
}

.title {
  overflow: hidden;
}

.title h1 {
  display: -webkit-box;
  max-height: 70px;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
